**Задание 1**. Дан список с визитами по городам и странам. 
Напишите код, который возвращает отфильтрованный список geo_logs, содержащий только визиты из России.

In [1]:
geo_logs = [
    {'visit1': ['Москва', 'Россия']},
    {'visit2': ['Дели', 'Индия']},
    {'visit3': ['Владимир', 'Россия']},
    {'visit4': ['Лиссабон', 'Португалия']},
    {'visit5': ['Париж', 'Франция']},
    {'visit6': ['Лиссабон', 'Португалия']},
    {'visit7': ['Тула', 'Россия']},
    {'visit8': ['Тула', 'Россия']},
    {'visit9': ['Курск', 'Россия']},
    {'visit10': ['Архангельск', 'Россия']}
]

In [9]:
[dict(visit.items()) for visit in geo_logs if list(visit.values())[0][1]=='Россия' ]

[{'visit1': ['Москва', 'Россия']},
 {'visit3': ['Владимир', 'Россия']},
 {'visit7': ['Тула', 'Россия']},
 {'visit8': ['Тула', 'Россия']},
 {'visit9': ['Курск', 'Россия']},
 {'visit10': ['Архангельск', 'Россия']}]

**Задание 2**. Выведите на экран все уникальные гео-ID из значений словаря ids. Т. е. список вида [213, 15, 54, 119, 98, 35]

In [4]:
ids = {'user1': [213, 213, 213, 15, 213], 
       'user2': [54, 54, 119, 119, 119], 
       'user3': [213, 98, 98, 35]}

In [5]:
ID = list(set(sum(ids.values(),[])))
ID

[98, 35, 15, 213, 54, 119]

**Задание 3**. Дан список поисковых запросов. Получить распределение количества слов в них. 
Т. е. поисковых запросов из одного - слова 5%, из двух - 7%, из трех - 3% и т.д.

In [20]:
queries = [
    'смотреть сериалы онлайн',
    'новости спорта',
    'афиша кино',
    'курс доллара',
    'сериалы этим летом',
    'курс по питону',
    'сериалы про спорт',
]

In [25]:
Qlist = [len(str.split(' ')) for str in queries]
{str: '{:.2f}%'.format(Qlist.count(str)/len(Qlist)*100) for str in set(Qlist)}

{2: '42.86%', 3: '57.14%'}

**Задание 4**. Дана статистика рекламных каналов по объемам продаж. Напишите скрипт, который возвращает название канала с максимальным объемом.
Т. е. в данном примере скрипт должен возвращать 'yandex'.

In [2]:
stats = {'facebook': 55, 'yandex': 120, 'vk': 115, 'google': 99, 'email': 42, 'ok': 98}

In [5]:
newStats=[]
for el in stats.values():
    newStats.append(el)
maximum=max(newStats)
for key, value in stats.items():
    if value==maximum:
        print(key)

yandex

In [19]:
max_val = max(stats.items())
print(max_val[0])

yandex

**Задание 5**. Напишите код для преобразования произвольного списка вида ['2018-01-01', 'yandex', 'cpc', 100] (он может быть любой длины) в словарь {'2018-01-01': {'yandex': {'cpc': 100}}}

In [6]:
Dict = ['2018-01-01', 'yandex', 'cpc', 100]
dictionary = {Dict[-2]: Dict[-1]}
new_dict = Dict[::-1]

for key in new_dict[-2:]:
    dictionary = {key: dictionary}
dictionary

{'2018-01-01': {'yandex': {'cpc': 100}}}

**Задание 6.** Минимум две задачи из лабораторной работы № 1 на списки реализовать через list compreshin. Задачи на строки так же решаются в одну команду, тминимум

In [11]:
#Задача 3. Напишите алгоритм, который выводит число, равное сумме 
#элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]
sum([element for element in list_01 if 10 < element < 100 or 200 < element < 500])

1291

In [ ]:
#Задача 5.1
#Выведите результат сложения всех элементов матрицы.
#Задача 5.2
#Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [12]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

In [14]:
sum([sum(element) for element in matrix])

89

In [18]:
max([sum(element) for element in zip(*matrix)])

22