**Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ratings.csv')

In [93]:
ratings.query('rating == {}'.format(5))['movieId'].value_counts().head(1)

318    170
Name: movieId, dtype: int64

**Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [7]:
power = pd.read_csv('power.csv')

In [8]:
baltics = power.query('country == ["Latvia", "Lithuania", "Estonia"] and category == [4, 12, 21] and year >= 2005 and year <= 2010 and quantity > 0')
baltics.quantity.sum()

240580.0

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [14]:
page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
course = pd.read_html(page_url, attrs = {'class': 'quote_list'}, encoding='utf-8')
course[:5]

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB      1014880      -              1011254
 1          NaN            EUR/RUB       916250      -               912570
 2          NaN            USD/RUB       779796      -               776813
 3          NaN            JPY/RUB        07407      -                07390
 4          NaN            CNY/RUB       115962      -               115681
 5          NaN            CHF/RUB       853877      -               850555
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        11750      -                11749
 8          NaN            EUR/GBP        09028      -                09027
 9          NaN            EUR/JPY      1236955      -              1235000
 10         NaN            EUR/CHF        10730      -                10729
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        08510      -                08511
 13         NaN            USD/GBP        07683      -                07682
 14         NaN            USD/JPY      1052850      -              1051210
 15         NaN            USD/CHF        09133      -                09133
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        08100      -                08100
 18         NaN            JPY/GBP        00073      -                00073
 19         NaN            JPY/USD        00095      -                00095
 20         NaN    JPY/CHF (100:1)        08700      -                08700
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        13015      -                13016
 23         NaN            GBP/JPY      1370102      -              1368387
 24         NaN            GBP/EUR        11076      -                11076
 25         NaN            GBP/CHF        11886      -                11886
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        11886      -                11886
 28         NaN            EUR/CHF        10730      -                10729
 29         NaN    JPY/CHF (100:1)        08700      -                08700
 30         NaN            USD/CHF        09133      -                09133
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       333009      -               332981
 33         NaN            USD/UAH       283400      -               283400
 34         NaN            CHF/UAH       310337      -               310303
 35         NaN            GBP/UAH       368845      -               368930

           %  Абсолютное значение     Время
 0    0,36 %                03626  06:22:00
 1    0,40 %                03680  06:22:00
 2    0,38 %                02983  06:22:00
 3    0,23 %                00017  06:22:00
 4    0,24 %                00280  06:22:00
 5    0,39 %                03321  06:22:00
 6         %  Абсолютное значение     Время
 7    0,01 %                00001  06:22:00
 8    0,01 %                00001  06:22:00
 9    0,16 %                01955  06:22:00
 10   0,01 %                00001  06:22:00
 11        %  Абсолютное значение     Время
 12  -0,01 %               -00001  06:22:00
 13   0,02 %                00002  06:22:00
 14   0,16 %                01640  06:22:00
 15   0,00 %                00000  06:22:00
 16        %  Абсолютное значение     Время
 17  -0,16 %                00000  06:22:00
 18  -0,13 %                00000  06:22:00
 19  -0,15 %                00000  06:22:00
 20  -0,15 %                00000  06:22:00
 21        %  Абсолютное значение     Время
 22   0,00 %               -00001  06:22:00
 23   0,13 %                01715  06:22:00
 24   0,00 %                00000  06:22:00
 25   0,01 %                00001  06:22:00
 26        %  Абсолютное значение     Время
 27   0,01 %                00001  06:22:00
 28   0,01 %                00001  06:22:00
 29  -0,15 %                00000  06:22:00
 30   0,00 %                00000  06:22:00
 31        %  Абсолютное значение     Время
 32   0,01 %                00028  06:22:00
 33   0,00 %                00000  06:21:00
 34   0,01 %                00034  06:22:00
 35  -0,02 %               -00085  06:22:00  ]

**Задание 4**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [24]:
def classifies(mark):
        if mark <= 2:
            return 'низкий рейтинг'
        elif mark <= 4:
            return 'средний рейтинг'
        elif mark <= 4.5 or mark <= 5:
            return 'высокий рейтинг'

In [25]:
ratings['class'] = rating['rating'].apply(classifies)

In [27]:
ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

**Задание 5**
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.
Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [77]:
keywords = pd.read_csv('keywords.csv',encoding='utf-8')
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [81]:
def region(reg):
    if reg in geo_data['Центр']:
        return 'Центр'
    elif reg in geo_data['Северо-Запад']:
        return 'Северо-Запад'
    elif reg in geo_data['Дальний Восток']:
        return 'Дальний Восток'
    else:
        return 'undefined'

In [96]:
keywords['region'] = keywords['keyword'].apply(region)
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [97]:
keywords[(keywords['region']=='Центр')]

         keyword   shows region
1259      москва  153050  Центр
6075   ярославль   41720  Центр
11785       тула   23898  Центр

**Задание 6**
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [51]:
ratings = pd.read_csv('ratings.csv')

In [52]:
Ratings=ratings.merge(movies, on=["movieId"], how='inner')

In [53]:
def production_year(title):
    for year in years:
        if str(year) in title:
            return year
    return 1900

In [54]:
years = []
for year in range(1950,2010):
    years.append(year)

In [70]:
Ratings['year'] = Ratings['title'].apply(production_year)

In [89]:
Allratings = Ratings.pivot_table(index=['year'], values = 'rating', aggfunc='mean')
Allratings=Allratings.sort_values(by = ['rating'], ascending = False)
Allratings[:50]

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539
1974  3.978704
1962  3.952446
1950  3.915254
1977  3.905786
1964  3.841492
1959  3.841033
1958  3.823171
1975  3.823077
1969  3.817376
1967  3.814516
1960  3.809211
1976  3.806794
1973  3.806667
1979  3.777966
1981  3.758763
1953  3.754587
1955  3.751724
1971  3.748830
1968  3.737844
1966  3.736726
1980  3.708816
1963  3.705966
1970  3.700000
1965  3.678715
1961  3.663851
1983  3.657635
1984  3.651486
1982  3.638306
1991  3.628265
1956  3.617647
1987  3.606015
1900  3.592981
1985  3.588998
1988  3.552990
1978  3.549003
2007  3.548538
1994  3.537963
1993  3.536664
1989  3.534349
1986  3.528265
2009  3.520378
2006  3.511478
2008  3.498057
2004  3.491490
1998  3.472754

In [76]:
Allratings[51:]

        rating
year
1999  3.471692
1992  3.466754
2001  3.460052
2002  3.456297
1990  3.449169
2005  3.448434
2003  3.444777
1996  3.426600
1997  3.415764
2000  3.356104

Прямой зависимости для выражения "с ростом года выпуска фильма его средний рейтинг становится ниже" нет. Если судить по данному выражению, то максимальный рейтинг должен быть в 1900 году(то есть раньше рассматриваемого периода), а минимальный в 2000-х годах. Рейтинг 1900 значительно ниже предполагаемого места. Утверждение не истинное.